{% extends 'orders/base.html' %} 
{%block content%}

<!--- Menu sidebar left ---------------------------------------------------->
<div class="col-sm-4 panel-group" id="myAccordion">
  {% for category, items in menu.items %}
  <div class="card">
    <div class="panel panel-default" id="panel{{ items.categoryId }}">
      <a 
        role="button"
        class="clickable"
        data-toggle="collapse"
        data-target="#collapse{{ items.categoryId }}"
      >
        <div class="card-header" id="heading{{ items.categoryId }}">
          {{ category }}
        </div>
      </a>

      <div
        id="collapse{{ items.categoryId }}"
        class="panel-collapse collapse in"
        aria-labelledby="heading{{ items.categoryId }}"
        data-parent="#myAccordion"
      >
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for item in items.menuItems %}
            <li class="list-group-item submenu">
              {% if item.extra_for %}
              {{ item.name }}
              {% else %}
              {{ item.name }}
              {% endif %}
            </li>
            {% endfor item %}
          </ul>
        </div>
        <!-- card-body-->
      </div>
      <!--collapse-->
    </div>
  </div>
  <!-- card -->
  {% endfor category%}
</div>

<!-- myAccordion-->

<!--- Cart sidebar right ---------------------------------------------------->

<div class="col-sm-4 panel-group">
<h1>Cart</h1>


{% endblock content %}
